# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=retailpulse
POSTGRES_USER=retailpulse
POSTGRES_PASSWORD=retailpulse

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9094

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Airflow
AIRFLOW_UID=50000

# Application
ENVIRONMENT=development
