# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/

# Virtual environment
.venv/
venv/
env/

# Environment
.env
superset/.env

# Data
data/raw/*
data/processed/*
data/warehouse/*

# Spark
spark-warehouse/
metastore_db/

# dbt
dbt/target/
dbt/logs/
dbt/dbt_packages/

# Airflow
airflow/logs/
airflow/.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Temporary files
tmp/
temp/